
MLP/.ipynb_checkpoints/MLP Experiment-checkpoint.ipynb
MLP/MLP
Reporting Exercises/data/cifar-10-batches-py/batches.meta
Reporting Exercises/data/cifar-10-batches-py/data_batch_1
Reporting Exercises/data/cifar-10-batches-py/data_batch_2
Reporting Exercises/data/cifar-10-batches-py/data_batch_3
Reporting Exercises/data/cifar-10-batches-py/data_batch_4
Reporting Exercises/data/cifar-10-batches-py/data_batch_5
Reporting Exercises/data/cifar-10-batches-py/readme.html
Reporting Exercises/data/cifar-10-batches-py/test_batch
Reporting Exercises/data/cifar-10-python.tar.gz
*.png
